.features {
  h2 {
    margin-bottom: 20px;
    text-align: center;
  }

  p {
    margin-bottom: 80px;
    text-align: center;
  }
}

.features_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 60px;
  grid-row-gap: 90px

}

.feature{
  h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #070F18;
    margin-bottom: 12px;
  }
}

.feature_icon {
  margin-right: 24px;
}
